.lead__title {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}
@media screen and (max-width: 999px) {
  .lead__title {
    font-size: 54px;
    line-height: 60px;
  }
}
@media screen and (max-width: 470px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    padding: 0 16px 0 16px;
  }
}