.cover__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  padding: 245px 0 343px 0;
  margin: 0;
  background: rgba(42, 44, 47, 0.3);
  color: #fff;
  max-width: 1184px;
  aspect-ratio: 16/10;
  width: 100%;
}
.cover__item:hover {
  background: rgba(42, 44, 47, 0.8);
}
@media screen and (max-width: 1100px) {
  .cover__item {
    padding: 195px 0 293px 0;
    max-width: 1024px;
  }
}
@media screen and (max-width: 999px) {
  .cover__item {
    padding: 215px 0 213px 0;
    max-width: 768px;
  }
}
@media screen and (max-width: 470px) {
  .cover__item {
    padding: 33px 0 0 0;
    max-width: 320px;
  }
}
